footer.footer
  .grid-container: .grid-x.grid-padding-x
    .medium-12.large-7.cell.hide-for-small-only
      a(href='#', title='').footer__shop Каталог товаров
      nav.footer__nav
        a(href="#").footer__link Садовые тракторы
        a(href="#").footer__link Газонокосилки с сидением
        a(href="#").footer__link Газонокосилки
        a(href="#").footer__link Газонокосилки с нулевым поворотом
        a(href="#").footer__link Снегоуборочная техника
        a(href="#").footer__link Техника на аккумуляторной батареи
        a(href="#").footer__link Роботизированные косилки
    .medium-12.large-6.cell.hide-for-small-only
      a(href='#', title='').footer__shop Каталог товаров
      nav.footer__nav
        a(href="#").footer__link Культиваторы
        a(href="#").footer__link Газонокосилки 
        a(href="#").footer__link Газонокосилки
        a(href="#").footer__link Газонокосилки с 
        a(href="#").footer__link Снегоуборочная техника
        a(href="#").footer__link Название еще техники
        a(href="#").footer__link Роботизированные косилки
    .medium-12.large-5.cell.hide-for-small-only
      a(href='#', title='').footer__shop О компании
      nav.footer__nav
        a(href="#").footer__link О нас
        a(href="#").footer__link Наши сертификаты
        a(href="#").footer__link Реквизиты
        a(href="#").footer__link Новости
        a(href="#").footer__link Вакансии
        a(href="#").footer__link Статьи
        a(href="#").footer__link Вопросы и ответы

    .medium-12.large-6.cell.hide-for-small-only
      a(href='#', title='').footer__shop Покупателю
      nav.footer__nav
        a(href="#").footer__link Личный кабинет
        a(href="#").footer__link Предпродажная подготовка
        a(href="#").footer__link Гарантия
        a(href="#").footer__link Сервисные услуги
        a(href="#").footer__link Доставка
        a(href="#").footer__link Оплата
        a(href="#").footer__link Обмен и возврат
    .cell.hide-for-small-only
      hr.hr

    .medium-12.large-9.cell
      a(href="#").footer__logo
        include ../../../images/logo.svg
      .footer__consult Консультации и заказ
      a(href="#").footer__corp +7 495 123-45-95
      .footer__copy © 2019. CUB CADET.  
      a(href="#").footer__agree Пользовательское соглашение    
    .cell.footer__table
      a(href="#").footer__prod Каталог товаров            
      a(href="#").footer__prod Сервисные услуги
    .medium-12.large-9.cell.flex-container
      .footer__bottom
        include ../common/_soc
    .cell.show-for-small-only
      .footer__consult Разработка сайта
      a(href="https://cetera.ru/").footer__cetera Cetera Labs    
    .cell.show-for-small-only.footer__consult.footer__consult_border © 2019. Cub Cadet.
    .large-6.cell.hide-for-small-only
      a(href="tel:+74959831010").footer__tel +7 495 983-10-10    
      a(href="mailto:info@cubcadet.ru").footer__mail info@cubcadet.ru
      a(href="https://cetera.ru/").footer__cetera Создание сайта: Cetera Labs
