.grid-x.grid-padding-x.large-up-4.medium-up-2
    .cell
        a(href="#").tractor__serial Серия трактора 1
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
    .cell
        a(href="#").tractor__serial Серия трактора 2
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора

    .cell
        a(href="#").tractor__serial Серия трактора 3
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора

    .cell
        a(href="#").tractor__serial Серия трактора 4
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
        a(href="#").tractor__name Наименование трактора
