ul.partners
    li.partners__item: a(href="#").partners__link Газонокосилки     
    li.partners__item: a(href="#").partners__link Триммеры     
    li.partners__item: a(href="#").partners__link Тракторы садовые     
    li.partners__item: a(href="#").partners__link.partners__link_active Аэраторы     
    li.partners__item: a(href="#").partners__link Газонокосилки     
    li.partners__item: a(href="#").partners__link Садовые пылесосы
    li.partners__item: a(href="#").partners__link Снегоуборочные машины
    li.partners__item: a(href="#").partners__link Аксессуары
