ul
    li: a(href='./shop-index.html') Главная
    li: a(href='./instr.html') Инструкции
    li: a(href='./cert.html') Сертификаты
    li: a(href='./compare.html') Сравнение
    li: a(href='./art.html') Статьи
    li: a(href='./about.html') О нас
    li: a(href='./product.html') Карточка товара
    li: a(href='./product-no-review.html') Карточка товара без отзывов
    li: a(href='./shop-catalog.html') Каталог
    li: a(href='./catalog-cat.html') Каталог - разводящая
    li: a(href='./art-all.html') Статьи - разводящая
