extends shop-index

block page
    .hide-for-small-only: +breadcrumbs(['Главная','Каталог'])
    .grid-container.sieve
        .grid-x.grid-padding-x
            .cell
                h1.law Каталог
        .grid-x.grid-padding-x.large-up-4.medium-up-3(data-equalizer data-equalize-by-row="true").info.info_high
          .cell
            a(href="#").wheel
              .wheel__wrap
                img(src="./i/w1.png", alt="").wheel__img
                
              .wheel__title(data-equalizer-watch) Газонокосилки бензиновые несамоходные
          .cell
            a(href="#").wheel
              .wheel__wrap
                img(src="./i/w2.png", alt="").wheel__img
                
              .wheel__title(data-equalizer-watch) Газонокосилки бензиновые несамоходные
          .cell
            a(href="#").wheel
              .wheel__wrap
                img(src="./i/w3.png", alt="").wheel__img
                
              .wheel__title(data-equalizer-watch) Газонокосилки бензиновые несамоходные
          .cell
            a(href="#").wheel
              .wheel__wrap
                img(src="./i/w4.png", alt="").wheel__img
                
              .wheel__title(data-equalizer-watch) Газонокосилки бензиновые несамоходные
          .cell
            a(href="#").wheel
              .wheel__wrap
                img(src="./i/w5.png", alt="").wheel__img
                
              .wheel__title(data-equalizer-watch) Газонокосилки бензиновые несамоходные
          .cell
            a(href="#").wheel
              .wheel__wrap
                img(src="./i/w6.png", alt="").wheel__img
                
              .wheel__title(data-equalizer-watch) Газонокосилки бензиновые несамоходные
          .cell
            a(href="#").wheel
              .wheel__wrap
                img(src="./i/w7.png", alt="").wheel__img
                
              .wheel__title(data-equalizer-watch) Газонокосилки бензиновые несамоходные
          .cell
            a(href="#").wheel
              .wheel__wrap
                img(src="./i/w8.png", alt="").wheel__img
                
              .wheel__title(data-equalizer-watch) Газонокосилки бензиновые несамоходные
