.book {
    font-size: rem-calc(16);
    line-height: 1.7;
    margin-bottom: rem-calc(20);
    color: #000;

    &__img {
        padding-top: rem-calc(5);
        padding-right: rem-calc(20);
    }

    p {
        margin-bottom: rem-calc(25);
        line-height: 1.7;
    }
    @include breakpoint(small only) {
        border-top: rem-calc(1) solid rgba(202, 210, 213, 0.5);
        font-size: rem-calc(14);
        padding-top: rem-calc(22);
        margin-bottom: rem-calc(0);

        p {
            font-size: rem-calc(14);
            margin-bottom: rem-calc(18);
        }

        &__icon {
            width: rem-calc(73);
            margin-bottom: rem-calc(8);
        }

        .book__img {
            margin: rem-calc(0) -0.5 *map-get($grid-padding-gutters,small) 0;
            padding-right: rem-calc(0);
        }
    }
}
