.fit {
    text-align: center;
    display: none;
    border-top: rem-calc(1) solid rgba(202, 210, 213, 0.5);
    background: $white;
    border-bottom: rem-calc(1) solid #CAD2D5;

    &.js-active {
        .fit__arr {
            transform: rotate(180deg);
            top: rem-calc(17);
        }
    }

    &__title {
        padding-top: rem-calc(14);
        padding-bottom: rem-calc(14);
        font-size: rem-calc(16);
        font-weight: 600;
        padding-left: rem-calc(15);
        position: relative;
        padding-right: rem-calc(15);
        display: inline-block;
        cursor: pointer;
    }

    &__arr {
        position: absolute;
        right: rem-calc(0);
        top: rem-calc(13);
        transform: rotate(0deg);
        transition: 0.3s;
    }
    @include breakpoint(small only) {
        display: block;
    }
}
