.fly {
    display: block;
    color: #666E6F;
    padding-top: rem-calc(19);
    font-size: rem-calc(14);
    line-height: 1.56;
    margin-bottom: rem-calc(20);

    &__text {
        display: inline;
        border-bottom: rem-calc(1) dashed rgba(#929A9C,.3);
    }

    svg {
      margin-bottom: rem-calc(3);
        display: block;
        max-width: 100%;
        height: rem-calc(32);
    }
}
