.large-16.cell
  .rev
    .rev__name Юлия
    .rev__date 12 марта
    .rev__text Получила большое удовольствие от качества обслуживания. Оперативно, профессионально, комфортно, в общем, все очень хорошо. Каждая коробка подписана, ничего не повреждено, и очень быстро все поступило! Отдельная благодарность менеджеру Насте Звонцовой.
    include _reply
  .rev
    .rev__name Константин
    .rev__date 22 марта
    .rev__text Всё понравилось! Доставили быстро. Пользуюсь, доволен.
    include _reply
  .rev
    .rev__name Константин
    .rev__date 24 марта
    .rev__text Использовал в помещении 15 кв. м., прогревает довольно быстро, но и зима, не зима, ниже -3°С температура не опускалась.
      br
      | Из-за небольших габаритов, оптимальная длина поленьев 30 см.
      br
      | Перед установкой в помещение дважды протопил на улице в течении нескольких часов. В первый раз термостойкая краска начала интенсивно обгорать, т.е. краска дико дымила, второй раз дымила меньше, но запах был весьма неприятный. Запах краски ощущался ещё в течении месяца. Зольник очень маленький, узкий и не глубокий.
    .grid-x.grid-padding-x
      .shrink.cell
        a(href="#").rev__reply Ответить
        .rev__comment
          include ../../../images/message.svg
          .rev__num (2)
      .auto.cell.text-right
        .rev__profit
          span Полезно?
          a(href="#").rev__like
            include ../../../images/like.svg
            .rev__digit 8
          a(href="#").rev__dislike
            include ../../../images/like.svg
            .rev__digit 4
    .rev.rev_inner
      .rev__name Лена
      .rev__date 24 марта
      .rev__text Сколько месяцев вы использовали его?
      include _reply
    .rev.rev_inner
      .rev__name Юля
      .rev__date 24 марта
      .rev__text А как же гарантия?
      include _reply
  .rev
    .rev__name Илья
    .rev__date 29 марта
    .rev__text Когда разгорится, загружаю толстыми полешками (акация) по максимуму, закрываю зольник полностью, дверца не герметичная, поэтому понемногу тлеет, часов на 5-6 хватает. Регулировка горения осуществляется зольником.
    include _reply
