ul.cont
  li.cont__item
    span.cont__span Двигатель
    span.cont__page CUB CADET 45 OHV
  li.cont__item
    span.cont__span Мощность номинальная, л.с.
    span.cont__page 2.9
  li.cont__item
    span.cont__span Ширина кошения, см
    span.cont__page 42
  li.cont__item
    span.cont__span Травосборник, л
    span.cont__page мягкий, 60
  li.cont__item
    span.cont__span Мульчирование
    span.cont__page опция
  li.cont__item
    span.cont__span Вес, кг
    span.cont__page 28
