.acc__content
  .acc__manufacture Производитель  
  .acc__row
    .acc__cell
      .acc__name Варвара
    .acc__cell
      .acc__name Ермак
    .acc__cell
      .acc__name Ермак
    .acc__cell
      .acc__name Harvia
    .acc__cell
      .acc__name Harviа
    .acc__cell
      .acc__name Варвара
    .acc__cell
      .acc__name Варвара
    .acc__cell
      .acc__name Варвара
  .acc__manufacture Мощность, кВт
  .acc__row
    .acc__cell
      .acc__name 4,5
    .acc__cell
      .acc__name 5,5
    .acc__cell
      .acc__name 6,5
    .acc__cell
      .acc__name 4,5
    .acc__cell
      .acc__name 4,5
    .acc__cell
      .acc__name 4,5
    .acc__cell
      .acc__name 4,5
    .acc__cell
      .acc__name 4,5
  .acc__manufacture Объем парилки, м³
  .acc__row
    .acc__cell
      .acc__name 3-6
    .acc__cell
      .acc__name 4-6
    .acc__cell
      .acc__name 5-6
    .acc__cell
      .acc__name 1-6
    .acc__cell
      .acc__name 1-6
    .acc__cell
      .acc__name 3-6
  
    .acc__cell
      .acc__name 3-6
    .acc__cell
      .acc__name 3-6
