.cell
  a(href="#").manual
    .manual__title Садовый пылесос - Cub Cadet CSV 050
    .grid-x.grid-padding-x
      .auto.cell
        .manual__size PDF 3.2 Мб
      .shrink.cell.manual__download
        include ../../../images/down.svg
        | Скачать

.cell
  a(href="#").manual
    .manual__title Травосборники для садовых тракторов CubCadet с электрической выгрузкой
    .grid-x.grid-padding-x
      .auto.cell
        .manual__size PDF 3.2 Мб
      .shrink.cell.manual__download
        include ../../../images/down.svg
        | Скачать
