.prove
  .prove__slide
    .tech
      .tech__wrap(style="background-image:url(./i/t1.jpg);")
        
      a(href="#").tech__info
        .tech__title.js-equalize-1 Садовая техника для весенних работ
        .tech__text Небольшой фото-отчет с прошедшего обучения в офисе компании
        include _date
  .prove__slide
    .tech
      .tech__wrap(style="background-image:url(./i/t2.jpg);")
        
      a(href="#").tech__info
        .tech__title.js-equalize-1 Обучение наших сотрудников в Cub Cadet
        .tech__text Небольшой фото-отчет с прошедшего обучения в офисе компании
        include _date
  .prove__slide
    .tech
      .tech__wrap(style="background-image:url(./i/t44.jpg);")
        
      a(href="#").tech__info
        .tech__title.js-equalize-1 Выбор газонокосилки
        .tech__text Небольшой фото-отчет с прошедшего обучения в офисе компании
        include _date
