.grid-x.grid-padding-x
  .shrink.cell
    a(href="#").rev__reply Ответить
  .auto.cell.text-right
    .rev__profit
      span Полезно?
      a(href="#").rev__like
        include ../../../images/like.svg
        .rev__digit 8
      a(href="#").rev__dislike
        include ../../../images/like.svg
        .rev__digit 4
