.blade
  for i in [1,2]
    .blade__slide
      img(src="./i/slide.png", alt="")
    .blade__slide
      img(src="./i/slide.png", alt="")
    .blade__slide
      img(src="./i/slide.png", alt="")
    .blade__slide
      .youtube
          .youtube__main(data-embed='lM02vNMRRB0')
              .youtube__button
    .blade__slide
      include ../../../images/3d.svg
