a(href='#', title='').soc: include ../../../images/s1.svg
a(href='#', title='').soc: include ../../../images/s2.svg
a(href='#', title='').soc: include ../../../images/s3.svg
a(href='#', title='').soc: include ../../../images/s4.svg
a(href='#', title='').soc: include ../../../images/s5.svg
