.tabs-content.tabs-content_null(data-tabs-content='example-tabs3')
  #pan1.tabs-panel.tabs-panel_null.is-active
    include _prods
  #pan2.tabs-panel.tabs-panel_null
    include _prods
  #pan3.tabs-panel.tabs-panel_null
    include _prods
  #pan4.tabs-panel.tabs-panel_null
    include _prods
