.grid-x.grid-padding-x: .cell: h4 Технические характеристики

.grid-x.grid-padding-x.align-justify
  .cell.large-7
    include _cont
  .cell.large-8
    ul.cont
      li.cont__item
        span.cont__span Мульчирование
        span.cont__page опция
      li.cont__item
        span.cont__span Высота кошения, см
        span.cont__page 2.9
      li.cont__item
        span.cont__span Задние колеса, см
        span.cont__page 42
      li.cont__item
        span.cont__span Травосборник, л
        span.cont__page мягкий, 60
      li.cont__item
        span.cont__span Подшипники в колесах
        span.cont__page есть
      li.cont__item
        span.cont__span Рукоятка
        span.cont__page Складная
  .cell.part__info.large-7
    div: strong Преимущества модели
    p превосходный показатель скорости кошения - 950 м2/ч; используемый в газонокосилке двигатель BRIGGS & STRATTON 500 E (1,9 кВт) обладает низкими шумовыми характеристиками и высокой производительностью;
