.grid-container.cube
  .grid-x.grid-padding-x
    .cell.large-16: h2 Интересное и полезное
    .cell.large-auto.text-right.hide-for-small-only
      a(href="#").button.button_hollow Перейти в раздел
      
  
  include _prove      
  include _button
