.grid-x.grid-padding-x.align-justify
  .cell.xlarge-8.medium-12: .delivery.delivery_mini
      .grid-x.grid-padding-x
        .shrink.cell
          div
            img(src="./images/a11.svg", alt="")
        .auto.cell.align-self-middle: .delivery__repr Официальные<br>представители в России
  .cell.xlarge-8.medium-12: .delivery.delivery_mini
      .grid-x.grid-padding-x
        .shrink.cell
          div
            img(src="./images/a12.svg", alt="")
        .auto.cell.align-self-middle: .delivery__repr Каталог с широким<br>спектром товаров
  .cell.xlarge-5.medium-12: .delivery.delivery_mini
      .grid-x.grid-padding-x
        .shrink.cell
          div
            img(src="./images/a1.svg", alt="")
        .auto.cell.align-self-middle: .delivery__repr Бесплатная доставка
  .cell.xlarge-8.medium-12: .delivery.delivery_mini
      .grid-x.grid-padding-x
        .shrink.cell
          div
            img(src="./images/a13.svg", alt="")
        .auto.cell.align-self-middle: .delivery__repr Гарантия 3 года

  .cell.xlarge-8.medium-12: .delivery.delivery_mini
      .grid-x.grid-padding-x
        .shrink.cell
          div
            img(src="./images/a2.svg", alt="")
        .auto.cell.align-self-middle: .delivery__repr Товар всегда в наличии
  .cell.xlarge-5.medium-12: .delivery.delivery_mini
      .grid-x.grid-padding-x
        .shrink.cell
          div
            img(src="./images/a15.svg", alt="")
        .auto.cell.align-self-middle: .delivery__repr Цены ниже<br>рыночных
