mixin prod-compare(isAvailable)
    .prod.prod_compare: .prod__wrap.prod__wrap_compare
        .prod__top.prod__top_compare

            a(href="#").prod__heart.prod__heart_compare  
                include ../../../images/prod-heart.svg
            a(href="#").prod__trash
                include ../../../images/trash.svg

        a(href="#").prod__slide.prod__slide_compare
            img(src="./i/g1.png", alt="")      

        .prod__title.prod__title_compare Газонокосилка бензиновая несамоходная «Cub Cadet» CC LM1 AP42
        .prod__price.prod__price_compare 48 160 ₽
